{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('http://www.autocarsjames.com/wp-content/uploads/2016/02/Paris.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Hackathon Ratp</h1>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="result">
        <div class="container-fluid">
            <div class="col-lg-6">
                <div id="resul-gallery">

                </div>
            </div>
            <div class="col-lg-6">
                <div id="map" style="height: 500px"></div>
            </div>
        </div>
    </section>

    <div id="right-panel" style="visibility: hidden"></div>
{% endblock %}

{% block javascript %}


    <script rel="script">
        /* SELECT 2 */
        $(function(){
            $('.select2').select2({
                placeholder: 'Select your places'
            });
        });
    </script>

    {% if place %}
        <script>
            var functionBCompleted = false;

            function initMap() {
                var directionsDisplay = new google.maps.DirectionsRenderer;
                var directionsService = new google.maps.DirectionsService;
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: {lat: 48.8534100, lng: 2.3488000}
                });
                directionsDisplay.setMap(map);
                directionsDisplay.setPanel(document.getElementById('right-panel'));
                calculateAndDisplayRoute(directionsService, directionsDisplay);
            }

            function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                var start = '39 Rue du Caire, 75002 Paris';
                var end = "{{ place.name }}" + ', Paris';

                directionsService.route({
                    origin: start,
                    destination: end,
                    travelMode: google.maps.TravelMode['TRANSIT']
                }, function(response, status) {
                    if (status === google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);

                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }

            setTimeout(function(){
                
                var station = $('[data-step-index="1"]').find('[jstcache="63"]').text();

                $.ajax({
                    url: "{{ path('gallery') }}",
                    type: 'POST',
                    data: {'station': station},
                    success: function(data) {
                        $('#resul-gallery').html(data);
                    }
                });

            }, 1500);

        </script>
    {% else %}
        <script>
            function initMap() {
                var directionsDisplay = new google.maps.DirectionsRenderer;
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: {lat: 48.8534100, lng: 2.3488000}
                });
                directionsDisplay.setMap(map);
            }
        </script>

    {% endif %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1Wnp3sml8NtilduFMNmjqogvD6wHguWw&signed_in=true&callback=initMap"
            async defer></script>


{% endblock %}


